<html>
    <head>
        <title>GIROPOPS STRIGUS GIRUS</title>
        <body>
            <h1>Descomplicando o Ansible - 2020</h1>
            <h2>Internal IP: {{ ansible_ens5.ipv4.address }}</h2>
        </body>
    </head>
</html>